body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
#sidenav {
  width: 300px;
  height: 100%;
  box-sizing: border-box;
  background-color: #FF473A;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  transform: translateX(-300px);
}
#content  {
  width: 100%;
  min-height: 100vh;
  position: relative;
  transition: 0.5s;
  transform: translate(0px, 0px);
}
.mobile_search {
  display: flex;
  margin: 0 0 30px 0;
}
.mobile_search input {
  height: 40px;
  flex-grow: 1;
  background-color: transparent;
  border: 2px solid #fff;
  padding-left: 20px;
  box-sizing: border-box;
  color: #fff;
}
.mobile_search input::placeholder {
  color: #fff;
}
.menu_items {
  margin: 20px;
}
.menu_item {
  width: 100%;
  display: flex;
  margin: 20px 0;
}
.menu_item > div{
  width: 50px;
  height: 30px;
}
.menu_item img {
  width: fit-content;
  height: fit-content;
}
.menu_item a {
  color: #fff;
  font-size: 16px;
}
.menu_item a:active {
  text-decoration: underline;
}

.header {
  width: 95%;
  height: 60px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu_icon {
  width: 18px;
  height: 2px;
  background-color: #000;
  position: relative;
}
.menu_icon::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: #000;
  top: -5px;
}
.menu_icon::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: #000;
  bottom: -5px;
}
.search {
  display: none;
}
nav {
  display: none;
}
nav a:hover {
  color: #FF473A;
}
.image {
  width: 100%;
}

.info_container {
  width: calc(100% - 25px);
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5vh auto;
}
h2 {
  width: 125px;
}
h6 {
  color: #aaa;
}

.plan_btn_container {
  text-align: center;
  margin-top: 6vh;
}

.plan_btn {
  width: calc(100% - 90px);
}

.content_wrapper {
  padding-bottom: 60px;
}
.footer {
  width: calc(100% - 20px);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FF473A;
  position: absolute;
  bottom: 0;
}

.footer_chunk {
  display: flex;
  align-items: center;
  width: 49%;
}
.footer_right {
  justify-content: flex-end;
}

.icon {
  color: #FF473A;
  margin: 0 8px;
}

@media screen and (min-width: 480px) {
  body {
    position: relative;
  }
  #sidenav {
    display: none;
  }
  .header, nav {
    width: 90%;
    margin: auto;
  }
  .menu_icon {
    display: none;
  }
  .store_name {
    margin-left: 0;
    font-size: 13px;
  }
  .search {
    display: block;
    width: 220px;
    height: 30px;
  }
  .search_bar {
    width: 200px;
    height: 100%;
    border-radius: 20px;
    border: 2px solid #ddd;
    padding-left: 14px;
  }
  nav {
    height: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
  }
  a {
    color: #000;
  }
  a:hover {
    text-decoration: underline;
    color: #FF473A;
  }

  .image {
    margin-top: 30px;
    height: 480px;
    object-fit: contain;
  }
  .info_container {
    align-items: center;
    height: 150px;
  }
  h2 {
    width: fit-content;
  }
  .plan_btn_container {
    margin: 20px 0 40px 0;
  }
  .plan_btn {
    width: 480px;
  }
  .footer {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .footer_chunk {
    margin: 0 20px;
    display: flex;
    justify-content: flex-start;
    width: fit-content;
  }
}