body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

#sidenav {
  width: 300px;
  height: 100%;
  box-sizing: border-box;
  background-color: #FF473A;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  transform: translateX(-300px);
}
#content  {
  width: 100%;
  min-height: 100vh;
  position: relative;
  transition: 0.5s;
  transform: translate(0px, 0px);
}
.mobile_search {
  display: flex;
  margin: 0 0 30px 0;
}
.mobile_search input {
  height: 40px;
  flex-grow: 1;
  background-color: transparent;
  border: 2px solid #fff;
  padding-left: 20px;
  box-sizing: border-box;
  color: #fff;
}
.mobile_search input::placeholder {
  color: #fff;
}
.menu_items {
  margin: 20px;
}
.menu_item {
  width: 100%;
  display: flex;
  margin: 20px 0;
}
.menu_item > div{
  width: 50px;
  height: 30px;
}
.menu_item img {
  width: fit-content;
  height: fit-content;
}
.menu_item a {
  color: #fff;
  font-size: 16px;
}
.menu_item a:active {
  text-decoration: underline;
}

.header {
  width: 95%;
  height: 60px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.menu_icon {
  width: 18px;
  height: 2px;
  background-color: #000;
  position: relative;
}
.menu_icon::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: #000;
  top: -5px;
}
.menu_icon::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: #000;
  bottom: -5px;
}
.search {
  display: none;
}
nav {
  display: none;
}
nav a:hover {
  color: #FF473A;
}
.header_txt {
  position: absolute;
  line-height: 60px;
  width: 100%;
  text-align: center;
  z-index: -1;
}

.wrapper {
  width: 95%;
  margin: auto;
}

.info_container {
  margin: 20px 0 15px 0;
  font-size: 14px;
}
.info_container > p:first-child {
  font-size: 24px;
}

.date_container {
  width: 88%;
  margin: auto;
}
.date__upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.date__upper--tmr {
  height: 25px;
  text-decoration: underline;
  border-bottom: 2px solid #FF473A;
  color: #000;
}
.date__lower p {
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
}

.amount_container {
  width: 90%;
  margin: 30px auto;
}
.amount--right {
  width: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.amount--right button {
  border: 1px solid #979797;
  width: 20px;
  height: 20px;
  padding: 0;
}
.amount_type {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.amount_type--txt p{
  font-size: 12px;
  color: #979797;
}
.amount_type--txt p:first-child {
  font-size: 16px;
  color: #000;
}

.total_container {
  padding: 5px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #FF473A;
}

.btn_container {
  width: 70%;
  margin: 30px auto;
}




@media screen and (min-width: 480px) {
  #sidenav {
    display: none;
  }
  .header, nav {
    width: 90%;
    margin: auto;
  }
  .menu_icon {
    display: none;
  }
  .store_name {
    font-size: 13px;
    margin-left: 0;
  }
  .search {
    display: block;
    width: 220px;
    height: 30px;
  }
  .search_bar {
    width: 200px;
    height: 100%;
    border-radius: 20px;
    border: 2px solid #ddd;
    padding-left: 14px;
  }
  nav {
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
  }
  a {
    color: #000;
  }
  a:hover {
    text-decoration: underline;
    color: #FF473A;
  }
}